body,
html {
  /* background-image: url("../images/Blackjack_table.png"); */
  background-color: rgb(00, 100, 0);
  color: rgb(255, 255, 224);
  height: 100%;
  width: 100%;
  padding: 10px;
}

#ctr {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 2fr 1fr 2fr 2fr;
}

.startOver {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 1 1 2 2;
  padding: 15px;
}

.startOver > button {
    height: 40px;
    width: 120px;
    font-size: 20px;
    color: white;
    background: black;
}

.msgCtr {
  display: flex;
  align-items: center;
  background: rgba(100, 149, 237, 0.9);
  font-size: 25px;
  color: white;
  border-radius: 5%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.msgCtr > div:nth-child(1) {
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding: 10px;
}

.bank {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 5%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.buttons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: flex-start;
  color: red;
  font-size: 100px;
  padding: 00px 0px 00px 80px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.buttons > button {
  height: 50px;
  width: 100px;
  margin: 10px 20px 10px 20px;
  border-radius: 50%;
}

.dealerCtr {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 0px 80px;
  grid-area: 2 3 1 2;
}

.playerCtr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 80px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.totalsCtr > div {
  background: rgba(100, 149, 237, 0.9);
  width: 28%;
  height: 35%;
  padding: 5px;
  border-radius: 20%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0px 0px 0px 100px;
  font-size: 30px;
}

.chips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.chips > button {
    background: grey;
    height: 80px;
    width: 80px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 4px;
}

.chips > button:nth-child(1){
    border: solid blue 10px;
}

.chips > button:nth-child(2){
    border: solid red 10px;
}

.chips > button:nth-child(3){
    border: solid green 10px;
}

button {
    cursor: pointer;
}
